:root {
  --main: #b1a6a4;
  --light: #f2f1ef;
  --dark: #413f3d;
}
.courses-detail {
  width: 98.93vw;
  height: 50vh;
  background-image: url('https://images.unsplash.com/photo-1632772997943-59054ae89290?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
}
.courses-detail .info-div {
  background-color: black;
  width: 515px;
  height: 300px;
  color: white;
  position: absolute;
  top: 17%;
  left: 33%;
  text-align: center;
  box-shadow: 20px 10px;
}
.courses-detail .info-div h1 {
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 0;
  padding: 10px;
}
.courses-detail .info-div p {
  width: 482px;
  padding: 10px;
  color: #a9a1b1;
}
.courses-detail .info-div .likes {
  display: flex;
  justify-content: space-evenly;
}
button.hover-me {
  padding: 15px;
  border-radius: 25px 0px;
  margin-top: 29px;
  margin-right: 31px;
  color: white;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
  position: relative;
  font-weight: bold;
}
button.hover-me:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

/* Styling video section */
.video-details {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 129%;
  background-color: transparent;
  /* border: 4px solid white; */
  z-index: 1;
  border-left: 2px solid #000;
  border-right: 41px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.video-container .video-title  {
  position: relative;
}
.video-container .video-title h3 {
  font-size: 25px;
  text-align: center;
  color: var(--main);
  letter-spacing: 8px;
  position: absolute;
}

.video {
  display: block;
  align-items: center;
  text-align: center;
  width: 850px;
  height: 450px;
  position: relative;
  margin-top: 100px;
}
.video-container {
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

iframe {
  width: 100%;
  height: 129%;
  border-radius: 0px 0px 206px 0px;
}
.iframe-video {
  width: 100%;
  height: 100%;
  position: relative;
}
.iframe-video::before{
  content: "";
  width: 50px;
  height: 32.5px;
  background-color: #030303;
  bottom: -16%;
  left: 91%;
  position: absolute;
}
/* .video::after {
    content: "";
    background-color: #191919;
    position: absolute;
    bottom: 2.5%;
    left: 76%;
    width: 65px;
    height: 28.5px;
    border-radius: 10px;
} */
/* .heart{
  position: absolute;
  width: 45px;
  height: 40px;
  background-color: #191919;
  border-radius: 5px;
  top: 3%;
  right: 0.5%;
}
.video .clock {
  position: absolute;
  width: 45px;
  height: 40px;
  background-color: #191919;
  border-radius: 5px;
  top: 11.5%;
  right: 0.5%;
}
.video .share {
  position: absolute;
  width: 45px;
  height: 40px;
  background-color: #191919;
  border-radius: 5px;
  top: 20%;
  right: 0.5%;
} */

body:not(.showfocus) .player a, body:not(.showfocus) .player button, body:not(.showfocus) .player li, body:not(.showfocus) .player span, body:not(.showfocus) .player svg {
  outline: 0!important;
  display: none !important;
}