:root {
    --lighter: #ECE3CE;
    --lgiht: #739072;
    --dark: #4F6F52;
    --darker: #3A4D39;
    --brand-color: hsl(46, 100%, 50%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
  }
  html {
    scroll-behavior: smooth;
  }

  /* Global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
/* Start navbar section */

.head-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 20px 10px rgba(3, 4, 0, 0.686); 
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
.head-container .logo img{
    height: 100px;
    border-radius: 33px;
}
.head-container .searching-box input{
    padding: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}
.head-container .searching-box input::placeholder {
    color: var(--darker);
}
/* .head-container .searching-box input:focus {

} */
.head-container .learning li{
    list-style: none;
}
.head-container .learning a{
    color: var(--lgiht);
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    background-color: var(--dark);
    color: var(--lighter);
    font-weight: bold;
    font-size: 14px;
    padding: 15px;
    border-radius: 33px;
}
.head-container .learning a:hover {
    font-size: 20px;
    color: white;
}

/* Langin page */
.landing-container {
    height: 100vh;
    /* if i want to the image full the screen */
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1501504905252-473c47e087f8?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    position: relative;
    z-index: 1;
}
.layout {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb( 0 0 0 / 50%);
    width: 100%;
    height: 100%;
    
}

.landing-container .text{
    background-color: #4f6f5261;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: fit-content;
    padding: 20px;
    position: absolute;
    top: 50%;
    height: 40%;
    justify-content: center;
    line-height: 2;

}
.landing-container .text h2{
    display: block;
    color: var(--lighter);
    z-index: 1;
    font-size: 40px;
}

.landing-container .text h2 span{
    z-index: 1;
    color: black;

}
.landing-container .text p{
    display: block;
    color: var(--lighter);
    z-index: 1;
    width: 50%;
    font-size: 20px;
}
/* Reommended ofr you section */
.recommended-container {
    margin-top: 40px;

}
.recommended-container h1 {
    display: flex;
    justify-content: center;
    align-self: center;
}
.boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
}
.card {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  .cad img {
    width: 178px;
    height: 137px;
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card p:not(.heading) {
    font-size: 14px;
  }
  
  .card p:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  
  
