:root {
    --main: #B1A6A4;
    --light: #F2F1EF;
    --dark: #413F3D;
}

* {
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
/* Start styling navbar */
.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar .left-content:hover{
    cursor: pointer;
}
.navbar .left-content i{
    color: var(--main);
    font-size: 40px;
}
.navbar .left-content span{
    font-size: 40px;
    color: var(--main);
    margin-left: 17px;
}
.navbar .med-section{
    max-width: 100%;
}

.navbar .med-section input{
    padding: 20px;
    border-radius: 33px;
    width: 500px;
    border-color: var(--main);
    
}
.navbar .right-section ul{
    list-style: none;
    padding: 0;
    
}
.navbar .right-section a {
    text-decoration: none;
    color: var(--dark);
}
.navbar .right-section a:hover {
    color: var(--main);
}

.navbar .right-section ul li{
    display: inline-block;
    margin-right: 10px;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: var(--dark);
    
}
.navbar .right-section ul li.active{
    color: var(--main);

}
.navbar .right-section ul a.active{
    color: var(--main);

}

/* About Page style */

  .about-land .about-img img{
    width: 1519px;
    height: 400px;
    position: relative;
  }
 .about-land .about-layout{
    position: absolute;
    top: 99px;
    left: 0px;
    background-color: #413f3dac;
    width: 1520px;
    height: 400px;
  }
  .about-land .about-text{
    z-index: 1;
  } 
  
  .about-land .about-text span{
    color: white;
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 39%;
    letter-spacing: 2;
  }
  /* <!-- Get in touch section --> */
  .contact {
    margin-top: 40px;

  }
  .contact .details {
    margin-bottom: 20px;

  }
  span, p {
    margin: 0;
    padding: 0;
  }
  .contact .details span{
    color: var(--main);
    font-size: 19px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    position: relative;
    
  }
  .contact .details span::before{
    position: absolute;
    content: "";
    background-color: var(--dark);
    top: 60%;
    left: 54%;
    width: 47px;
    height: 1px;
}
.contact .details span::after{
    position: absolute;
    content: "";
    background-color: var(--dark);
    top: 57%;
    left: 43%;
    width: 47px;
    height: 1px;
}
    

  .contact .details span{
    color: var(--main);
    font-size: 19px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    
  }
  .contact .details p{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

/* Start Contact us */
.contact {
    min-height: 600px;
    background-image: url(../img/map.jpg);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.contact .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255, 0.6);
}
.contact .container {
    z-index: 2;
    position: relative;
    margin: auto;

}
.contact .container h2 {
    font-weight: bold ;
    font-size: 30px;
    color: var(--dark);
    margin: 0 0 10px;
    text-align: center;

}
.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;

}
.contact .left{
    float: left;
    width: 49%;



}
.contact .right{
    float: right;
    width: 49%;
    
}
@media(max-width: 767px) {
    .contact .left,
    .contact .right{
        float: none;
        width: 100%;
    }

}
.contact form input:not([type="submit"]),
.contact textarea {
    background-color: rgba(255, 255, 255, 0.534);
    padding: 10px;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--main);

}
.contact form input:not([type="submit"]):focus,
.contact textarea:focus{
    outline: 1px solid var(--main) ;

}
.contact form input {
    width: 40px;

}
.contact textarea{
    height: 150px;
}
.contact input[type="submit"] {
    background-color: var(--main);
    color: white;
    font-weight: bold;
    border-color: transparent;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
}
.contact textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder{
    opacity: 0;
    transform: .3s;
}
.contact textarea:focus::-ms-input-placeholder,
.contact form input:not([type="submit"]):focus::-ms-input-placeholder{
    opacity: 0;
    transform: .3s;
}
.contact textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder{
    opacity: 0;
    transition: .3s;
}

/* End Contact us */
/* Star grid system */

@media(min-width: 576px) {  /*small screens, phones*/
    .container {
        max-width: 540px;
    }
}

@media(min-width: 768px) { /*medium screens, phones*/
    .container {
        max-width: 720px;
    }
}

@media(min-width: 992px) { /*PC, */
    .container {
        max-width: 960px;
    }
}

@media(min-width: 1200px) { /*Large screens */
    .container {
        max-width: 1140px;
    }
}
/* End grid system */

/* Footer design */
.footer-basic {
    margin-top: 40px;
    padding:40px 0;
    background-color:var(--dark);
    color:white;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
    color: var(--main);
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  